/* ...................................Common styles.................................. */

*{
margin: 0; 
padding: 0;
box-sizing: border-box;


}
.body-color{
    background-color:#F5F8FF;
    overflow-x: hidden;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}


.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}
.container{
    margin: 30px 150px 20px 150px;
}
.primary-color{
    color: #E95A08;
}

/* ...............................................Logo section ........................................*/
.logo img {
    width: 90%;
}

.flex-display{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-list{
    display: flex;
    gap: 20px;
}
.nav-list li{
    list-style: none;
    color: darkgray; 
    
}
.nav-list a{
    text-decoration: none;
    color: darkgray;
}
.nav-list li:nth-child(1) a,
.nav-list li:nth-child(4) a
{
    color:black;
}
/* 
.....................................................heading section .............................*/

.hero{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text {
  max-width: 50%;
 
}
.hero-text h1{
    font-size: 65px;
}
.nav-bar{
    color: grey;
    font-size: 19px;
    margin-top: 20px;
    
}
.hero-img img {
  width: 100%;
  flex: 1;
 
}

/* ..........................................our plants section .................................*/
.plants {
  padding: 50px;
  text-align: center;
}
.plants h2{
    font-size:50px;
    font-weight: bold;
}
.plants p{
    margin: 20px 180px;
    text-align: center;
    color: grey;
}
.plant-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    max-width: 270px;
   
     max-width: 100%;
    
}
.plant-card img{
    width: 100%;
}
.plant-card h2{
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
     font-weight: normal;
     

}
.plant-card{
    max-width: 100%;
     border: 1px solid rgb(227, 227, 227);
}

.plant-card p{
    font-weight: bold;
    text-align: center;
    font-weight: bold;
     margin-bottom: 10px;
}
.cart-btn{
    background-color: #E95A08;
    color: #F5F8FF;
    font-size: 18px;
    width: 100%;
    border: none;
    padding: 12px 0;
   

}
.cart-btn:hover{
    background-color: black;
}

/* .....................................flower lover section............................... */

.lover-img {
  position: relative;
  max-width: 100%; 
}

.bg-img {
   width: 100%; 
  display: block; 
}

.overlay-img {
  position: absolute;
  top: -80px;       
  right: -70px;      
  width: 40%;  
  height: auto;
}
.lover-section{
    display: flex;
    margin-top: 150px;
    gap: 60px;
}
.lover-text{
    flex: 1;
    max-width: 50%;
}
.lover-text h2{
   font-size: 50px;
}
.lover-text ul li{
    margin-top: 50px;
   
    font-size: 22px;
}
/* ..............................................animation ...................*/
 @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-animation {
  animation: spin 3s linear infinite;
}

/*...................................................... latest deal section ..........................*/
.deals h2{
  text-align: center;
  font-size: 3.1rem;
  margin-top: 150px;
}
.deals p{
  color: grey;
  font-size: 16px;
   margin: 20px 180px;
   text-align: center;
}


.latest-deal {
  display:flex;
  gap: 20px;
  margin-top: 100px; 
  max-width: 100%;
}

.text-overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #F5F8FF;
  text-align:center;


}
.left-side img{
  margin-top: 10px;

}

.image-box{
  position: relative;
  
}
.image-box a{
  color: #F5F8FF;
  font-size: 18px;
  

}
.image-box img{
  width: 100%;
  border-radius: 15px;
  filter: brightness(60%);
 
 
}

.zabo-plant-text h1{
  font-size: 32px;
}
/* ................................................colorful-brance section ...............................*/
.colorful-brance {
  position: relative;
  margin-top: 150px;
  
  
}
.colorful-brance img{
  width: 100%;
  display: block;
  height: 100%;
}
  
.brance-text{
  position: relative;
}
.colorful-brance h1{
  color: #F5F8FF;
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}
.brance-details{
 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 0 20px;
}

.subscribe-box input{
  width: 700px;
  height: 50px;
  padding-left: 20px; 
  font-size: 17px;
}
.subscribe-button{
  position: absolute;
   width: 180px;
  height: 50px;
  border-style: none;
  background-color: #E95A08;
  color: #F5F8FF;
  font-size: 17px;

}


/* ....................................................footer section design........................... */
.footer-section{
  margin-top: 80px;
}
.grid-display{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 130px;

}
.grid-display p{
  color: grey;
  margin-top: 20px;
}
.features{
  display: flex;
  gap: 100px;
  margin-top: -40px;
}
.features ul li{
  list-style: none;
 margin-top: 30px;

}
.features a {
     text-decoration: none;
     
      color: grey;
}

.social-media {
 display: flex;
 gap: 30px;
 justify-items: baseline;

}

.twitter{
  height: 20px;
  width: auto;
  margin-top: 8px;
 
}
/* .................................................responsive............................................ */

@media screen and (max-width:576px){
    .nav-list li:nth-child(1),
    .nav-list li:nth-child(2),
    .nav-list li:nth-child(3) {
        display: none;
        
    }
    .nav-list li:nth-child(4){
        margin-right: 10px;
    }

    .logo img{
        width: 60%;
    }
   .container{
    margin-left: 10px ;
    margin-right:auto;
    margin-top: 10px;
   }

  .hero{
    flex-direction: column-reverse;
  
  }
  .hero-img{
    margin: 0;
  }
  .hero-text{
    max-width: 100%;
      margin: 5px;
  }
  .hero-text h1{
    font-size: 32px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.hero-text p,.deals p{
    margin: 0;
    font-size: 14px;
}
/* .................................plants section....................... */

.plant-grid{
    
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    
    margin-right: 10px;
  
    
}

.plants h2,.deals h2
{
    font-size: 32px;
    margin-bottom: 8px;
}
.plants p{
    font-size: 14px;
    margin: 0 ;
    text-align: center;

}

/* ...............................overlay section........................... */
.overlay-img,.lover-text br{
    display: none;
}
.lover-section,.features{
    flex-direction: column;
   
}

.lover-img,.ana-plant,.bloom-plant{
    margin-right: 10px;
    margin-top: 10px; 
 
}
.lover-text{
    max-width: 100%; 
    margin-top: -20px;

}
.lover-text h2{
  font-size: 28px;
  
}

  .lover-text ul li{
    font-size: 14px;
    margin: 10px;
  }

  /* ................................latest deal section .......................*/
  .latest-deal{
    flex-direction: column;
    margin-top: 50px;
  }
  .deals h2{
    margin-top: 50px;
  }
  .left-side img{
    margin-top: 10px;
  }
  .zabo-plant-text h1{
  font-size: 18px;
}
.zabo-plant{
  margin-top: -10px;
  margin-right: 10px;
}

/* ......................................colorful brance section................. */
.colorful-brance{
 margin-top: 15px;
}
 .colorful-brance h1 {
  font-size: 20px ;
  
 }

 .subscribe-box input{
  width: 150px;
  height: 35px;
  font-size: 12px;
 }
 .subscribe-button{
  width: 70px;
  height: 35px;
  font-size: 12px;

 }
.colorful-brance img{
  height: 200px;
}
   .subscribe-box {
    max-width: 80%;
    
   }
/* ..............................................footer section................. */

.grid-display{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 40px;

}
.features{
  gap: 8px;
}
.footer-section{
  margin-top: 30px;
}
}

/*................................................. complete......................... */