*{
margin: 0;
padding: 0;
box-sizing: border-box;


}
.body-color{
    background-color:#F5F8FF;
    overflow-x: hidden;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}


.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}
.container{
    margin: 30px 150px 20px 150px;
}
.primary-color{
    color: #E95A08;
}

/* Logo section */
.logo img {
    width: 90%;
}

.flex-display{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-list{
    display: flex;
    gap: 20px;
}
.nav-list li{
    list-style: none;
    color: darkgray; 
    
}
.nav-list a{
    text-decoration: none;
    color: darkgray;
}
.nav-list li:nth-child(1) a,
.nav-list li:nth-child(4) a
{
    color:black;
}
/* 
heading section */

.hero{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text {
  max-width: 50%;
 
}
.hero-text h1{
    font-size: 65px;
}
.nav-bar{
    color: grey;
    font-size: 19px;
    margin-top: 20px;
    
}
.hero-img img {
  width: 100%;
  flex: 1;
 
}

/* our plants section */
.plants {
  padding: 50px;
  text-align: center;
}
.plants h2{
    font-size:50px;
    font-weight: bold;
}
.plants p{
    margin: 20px 180px;
    text-align: center;
    color: grey;
}
.plant-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    max-width: 270px;
   
     max-width: 100%;
    
}
.plant-card img{
    width: 100%;
}
.plant-card h2{
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
     font-weight: normal;
     

}
.plant-card{
    max-width: 100%;
     border: 1px solid rgb(227, 227, 227);
}

.plant-card p{
    font-weight: bold;
    text-align: center;
    font-weight: bold;
     margin-bottom: 10px;
}
.cart-btn{
    background-color: #E95A08;
    color: #F5F8FF;
    font-size: 18px;
    width: 100%;
    border: none;
    padding: 12px 0;
   

}
.cart-btn:hover{
    background-color: black;
}

/* flower lover section */




.lover-img {
  position: relative;
  max-width: 100%; 
}

.bg-img {
   width: 100%; 
  display: block; 
}

.overlay-img {
  position: absolute;
  top: -80px;       
  right: -70px;      
  width: 40%;  
  height: auto;
}
.lover-section{
    display: flex;
    /* justify-content: space-between;
     align-items: flex-start; */
     margin-top: 150px;
     gap: 60px;
}
.lover-text{
    flex: 1;
    max-width: 50%;
}
.lover-text h2{
   font-size: 50px;
}
.lover-text ul li{
    margin-top: 50px;
   
    font-size: 22px;
}
/* animation */
/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin-animation {
  animation: spin 3s linear infinite;
} */

/* responsive */

@media screen and (max-width:576px){
    .nav-list li:nth-child(1),
    .nav-list li:nth-child(2),
    .nav-list li:nth-child(3) {
        display: none;
        
    }
    .nav-list li:nth-child(4){
        margin-right: 10px;
    }

    .logo img{
        width: 60%;
    }
   .container{
    margin-left: 10px ;
    margin-right: auto;
    margin-top: 10px;
   }

  .hero{
    flex-direction: column-reverse;
    

  }
  .hero-text{
    max-width: 100%;
      margin: 5px;
  }
  .hero-text h1{
    font-size: 32px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.hero-text p{
    margin: 0;
    font-size: 14px;
}
/* plants section */

.plant-grid{
    
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    
    margin-right: 10px;
  
    
}

.plants h2
{
    font-size: 32px;
    margin-bottom: 8px;
}
.plants p{
    font-size: 14px;
    margin: 0 ;
    text-align: center;

}

/* overlay section */
.overlay-img,.lover-text br{
    display: none;
}
.lover-section{
    flex-direction: column;
   
}

.lover-img{
    margin-right: 10px;
    margin-top: 10px; 
 
}
.lover-text{
    max-width: 100%; 
    margin-top: -20px;

}
.lover-text h2{
  font-size: 28px;
  
}

  .lover-text ul li{
    font-size: 14px;
    margin: 10px;
  }
}

